

{{#if alert}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{alert}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<div class="container">
  
  <div class="row border border-primary text-cente">
  <div class="col-12"><h1>Update Stock</h1></div>
</div>
  <form class = "row g-3 pb10 needs-validation" method="POST" action="/updateItem" novalidate> 
<div class="col-4"  style="margin-top:20px;">
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" autofocus="autofocus" placeholder="First Name" value="{{this.itemCode}}" name="item_code">
  <label for="floatingInput">Item Code</label>
</div>
</div>
<div class="col-4" style="margin-top:20px;">
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" value="{{this.stockinhand}}" placeholder="Quantity" name="item_qnty">
  <label for="floatingInput">Item Quantity</label>
</div>
</div>
<div class="col-4" style="margin-top:20px;">
<div class="col-12 d-grid">
 <button class="btn btn-primary" type="submit">Submit</button>
</div>
</div>

{{> item-grid}}

</form>
</div>

